{% extends 'base.html.twig' %}

{% block body %}
    <div class="cookiebar bg-dark p-4 hide" aria-hidden="true">
      <p class="text-white">Questo sito utilizza cookie tecnici, analytics e di terze parti.
        <br>Proseguendo nella navigazione accetti l’utilizzo dei cookie.<br>
      </p>
      <p>
        <button class="btn btn-info mr-2" data-accept="cookiebar">Accetto</button>
        <a href="" class="btn btn-outline-info">Privacy policy</a>
      </p>
    </div>
{% endblock %}
